@model KhachSan.Models.Room
<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="@Url.Content("~/assets/css/styles.min.css")" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/elegant-icons.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/flaticon.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/nice-select.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/jquery-ui.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/magnific-popup.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/slicknav.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" type="text/css">
</head>

<body class="body-add">

    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="/Admin/Room" class="text-nowrap logo-img">
                        <img src="~/img/logo.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-item-active" href="/Admin/Room" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-bed"></i>
                                </span>
                                <span class="hide-menu">Quản lý phòng</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/Admin/Service" aria-expanded="false">
                                <span>
                                    <i class="ti ti-alert-circle"></i>
                                </span>
                                <span class="hide-menu">Quản lý dịch vụ</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/Admin/User" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-users"></i>
                                </span>
                                <span class="hide-menu">Quản lý người dùng </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/User/Logout" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </span>
                                <span class="hide-menu">Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="body-wrapper">
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                    </ul>

                </nav>
            </header>
            <div class="container-fluid">
                <section class="rooms-section spad">
                    <div class="container-add">
                        <div class="uk-container">
                            <div uk-grid>
                                <div class='uk-width-1-1@s'>
                                    <h2 class="uk-text-center">Thông tin phòng</h2>
                                    <hr />
                                    <form asp-area="Admin" asp-controller="Room" asp-action="EditRoom" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Id</label>
                                            <input asp-for="PhongID" value="@Model.Id" readonly class="form-control" name="PhongID" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PhongTen">Tên phòng:</label>
                                            <input asp-for="PhongTen" class="form-control" name="PhongTen" value="@Model.name" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PhongGia">Giá phòng:</label>
                                            <input asp-for="PhongGia" class="form-control" name="PhongGia" value="@Model.price" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PhongSoLuongToiDa">Số lượng tối đa:</label>
                                            <input asp-for="PhongSoLuongToiDa" class="form-control" name="PhongSoLuongToiDa" value="@Model.numPeople" />
                                        </div>
                                        <div>
                                            <img src="@(Model.image)" alt="">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Phongimg">Đổi Hình ảnh:</label>
                                            <input asp-for="Phongimg" type="file" class="form-control-file" name="Phongimg" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sửa</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <script src="@Url.Content("~/assets/libs/jquery/dist/jquery.min.js")"></script>
        <script src="@Url.Content("~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
        <script src="@Url.Content("~/assets/js/sidebarmenu.js")"></script>
        <script src="@Url.Content("~/assets/js/app.min.js")"></script>
        <script src="@Url.Content("~/assets/libs/apexcharts/dist/apexcharts.min.js")"></script>
        <script src="@Url.Content("~/assets/libs/simplebar/dist/simplebar.js")"></script>
        <script src="@Url.Content("~/assets/js/dashboard.js")"></script>
</body>

</html>