@{

}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<KhachSan.Models.Room>
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Danh sách phòng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            @foreach(var room in Model){
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                        <img src="@(room.image)" alt="">
                    <div class="ri-text">
                        <h4>@room.name</h4>
                        <h3>@room.price VNĐ<span>/đêm</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Số lượng tối đa:</td>
                                    <td>@room.numPeople</td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="booking-btn" asp-controller="Room" asp-action="SearchResult">Booking Now</a>
                    </div>
                </div>
            </div>
            }
            <div class="col-lg-12">
                <div class="room-pagination">
                    <a>@Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}))</a>
                </div>
            </div>
        </div>
    </div>
</section>